html {
  font-size: 100%;
}

body {
  background-color: #000;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
}

h2 {
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  color: #fff;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.site-title {
  margin-left: 40px;
  padding-top: 20px;
  width: 300px;
}

@media screen and (max-width: 962px) {
  .site-title {
    padding-top: 0;
    margin-left: 0;
    margin-top: -5px;
  }
}

.site-title a {
  display: block;
}

.section-title {
  font-size: 42px;
  text-align: center;
}

.ja {
  font-size: 22px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ja::before, .ja::after {
  content: "";
  width: 20px;
  border-top: 1px solid #fff;
}

.ja::before {
  margin-right: 1rem;
}

.ja::after {
  margin-left: 1rem;
}

#header {
  width: 100%;
  height: 80px;
  z-index: 90;
  background-color: #000;
  position: relative;
}

@media screen and (max-width: 962px) {
  #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#header nav ul {
  position: absolute;
  top: 25px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header nav li {
  margin-right: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

@media screen and (max-width: 962px) {
  #header nav li {
    display: none;
  }
}

#header nav li a {
  color: #fff;
}

#header nav li a:hover {
  opacity: 0.7;
}

#header #menu-btn-check {
  display: none;
}

@media screen and (max-width: 962px) {
  #header .menu-btn {
    position: fixed;
    top: 25px;
    right: 25px;
    height: 25px;
    width: 25px;
    z-index: 90;
    padding-top: 10px;
  }
  #header .menu-btn span,
  #header .menu-btn span::before,
  #header .menu-btn span::after {
    content: "";
    display: inline-block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #e5e5e5;
    position: absolute;
  }
  #header .menu-btn span::before {
    bottom: 8px;
  }
  #header .menu-btn span::after {
    top: 8px;
  }
  #header #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
  }
  #header #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #header #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  #header #menu-btn-check:checked ~ .menu-content {
    left: 0;
  }
  #header .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  #header .menu-content ul {
    padding: 70px 10px 0;
  }
  #header .menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
  }
  #header .menu-content ul li a {
    display: block;
    z-index: 90;
    width: 100%;
    font-size: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
  }
  #header .menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
  }
  #header .menu-content ul li a::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.mainvisual {
  margin-bottom: 30px;
}

.mainvisual > img {
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
}

.mainvisual .new-release {
  position: absolute;
  position: fixed;
  z-index: 80;
  bottom: 0%;
  right: 0%;
  background: rgba(255, 255, 255, 0.7);
  padding: 0 30px;
  -webkit-animation: fadeout 2s ease 10s forwards;
          animation: fadeout 2s ease 10s forwards;
}

@-webkit-keyframes fadeout {
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes fadeout {
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

.mainvisual .new-release .release-title {
  font-size: 38px;
  text-align: center;
  padding-top: 20px;
}

.mainvisual .new-release hr {
  border-top: solid 1.5px;
  margin: 0 20px 20px 20px;
}

.mainvisual .new-release .release-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainvisual .new-release .release-container div {
  margin-right: 20px;
}

.mainvisual .new-release .release-container .release-text {
  font-family: "Roboto", sans-serif;
}

.mainvisual .new-release .release-container .release-text p {
  font-size: 18px;
  padding-bottom: 10px;
}

.mainvisual .new-release .release-container .release-text ul {
  font-size: 14px;
}

#introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
  margin-bottom: 30px;
}

@media screen and (max-width: 962px) {
  #introduction {
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#introduction .i-text {
  width: 50%;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 962px) {
  #introduction .i-text {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 0;
  }
}

#introduction .i-text p {
  padding-top: 15px;
}

#introduction .i-text p span {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  display: block;
  padding: 20px 0;
}

#introduction .image {
  width: 50%;
}

@media screen and (max-width: 962px) {
  #introduction .image {
    width: 100%;
  }
}

#introduction img {
  height: 438px;
}

@media screen and (max-width: 962px) {
  #introduction img {
    height: 250px;
  }
}

#artist {
  color: #000;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 962px) {
  #artist {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

#artist .image {
  width: 50%;
}

@media screen and (max-width: 962px) {
  #artist .image {
    width: 100%;
  }
}

#artist img {
  height: 367.5px;
}

@media screen and (max-width: 962px) {
  #artist img {
    height: auto;
  }
}

#artist .a-text {
  width: 50%;
  text-align: center;
  padding: 30px;
}

@media screen and (max-width: 962px) {
  #artist .a-text {
    width: 100%;
    max-width: 400px;
    padding: 40px 0;
  }
  #artist .a-text .sub {
    display: block;
    margin-top: -3px;
  }
}

#artist .a-text .ja::before, #artist .a-text .ja::after {
  border-top: 1px solid #000;
}

#artist .a-text h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

#artist .a-text h3 span {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 15px;
}

#artist .a-text hr {
  margin: 3px;
  border-top: solid 1.5px;
}

#artist .a-text h4 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
}

#discography {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding-top: 40px;
}

#discography .section-title {
  padding-bottom: 20px;
  text-align: center;
}

#discography .disco-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 962px) {
  #discography .disco-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
  }
}

#discography .disco-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  border: solid 1.5px #fff;
  border-radius: 10px;
}

@media screen and (max-width: 962px) {
  #discography .disco-wrapper .container:first-child {
    margin-bottom: 40px;
  }
}

#discography .disco-wrapper .container img {
  border-right: solid 1px;
  padding-right: 30px;
}

#discography .disco-wrapper .container .disco-text {
  padding-left: 30px;
  font-family: "Roboto", sans-serif;
}

#discography .disco-wrapper .container .disco-text p {
  font-size: 18px;
  padding-bottom: 10px;
}

#discography .disco-wrapper .container .disco-text li {
  font-size: 14px;
}

#discography .disco-wrapper .container .disco-text audio {
  max-width: 120px;
  height: 22px;
  margin-top: 15px;
  padding: 1px;
}

footer {
  height: 80px;
  padding-top: 25px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  border-top: solid 1.5px;
}
/*# sourceMappingURL=style.css.map */